# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env
*.env

# Logs & outputs
logs/
runs/
outputs/
checkpoints/

# Model files (kalau besar)
*.h5
*.pt
*.pth
*.ckpt

# Data (kalau tidak mau upload dataset)
data/raw/
data/processed/

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
